<h1>User Info</h1>
<table>
	<tr>
		<th>Username</th>
		<td><%= user.username %></td>
	</tr>
	<tr>
		<th>Email</th>
		<td><%= user.email %></td>
	</tr>
	<tr>
		<th>Password</th>
		<td><%= user.password %></td>
	</tr>
	<tr>
		<th>Coordinator</th>
		<td><%= user.coordinator %></td>
	</tr>
	<tr>
		<th>User Type</th>
		<%const user_types =["Normal User", "Coordinator", "Manager"] %>
		<td><%= user_types[user.admin] %></td>
	</tr>
	<tr>
		<th>Communities</th>
		<% user.communities.forEach( c => { %>
			<td> <%= c.name %> |</td>
		<%}) %>
	</tr>
</table>
<a href="<%= `/user/${user._id}/delete?_method=DELETE` %>">Delete</a>
