<h1>Event Info</h1>
<table>
	<tr>
		<th>Name</th>
		<td><%= event.name %></td>
	</tr>
	<tr>
		<th>Location</th>
		<td><%= event.location %></td>
	</tr>
	<tr>
		<th>Description</th>
		<td><%= event.description %></td>
	</tr>
	<tr>
		<th>Start Date</th>
		<td><%= event.date %></td>
	</tr>
	<tr>
		<th>Time:</th>
		<td><%= event.start %> : <%= event.end %></td>
	</tr>
</table>
